---
import Social from './Social.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <Social platform="Facebook" username=" Milthon" />
    <Social platform="Linkedin" username=" Milthon" />
    <Social platform="Instagram" username=" Milthon" />
  </p>
</footer>
